<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vicon2UnityServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <Vicon2UnityServer.Properties.Settings>
      <setting name="CameraName" serializeAs="String">
        <value>BT-200</value>
      </setting>
      <setting name="FingerThumbName" serializeAs="String">
        <value>fingerThumb</value>
      </setting>
      <setting name="FingerIndexName" serializeAs="String">
        <value>IndexFinger</value>
      </setting>
      <setting name="WandName" serializeAs="String">
        <value>MoverioWand</value>
      </setting>
      <setting name="ViconServerIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ViconServerPort" serializeAs="String">
        <value>801</value>
      </setting>
    </Vicon2UnityServer.Properties.Settings>
  </userSettings>
</configuration>
